#plus {
    font-size: 1.5em;
}

#newListButton {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}

.newListButtonText {
    display: block;
}

.listsTable {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}