.optionsBar {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;

    box-shadow: none;

    padding: 0px;
    margin: 0px;

    align-items: center;
}

.inputBar {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;

    box-shadow: none;

    padding: 0px;
    margin: 0px;
}

.flexGrow {
    flex-grow: 1;
}

.inputBar > span {
    display: flex;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.characterList {
    height: 50vh;
}

.submitList {
    width: 100%;
}