main {
    height: 100vh;
    margin: -8px;
    padding: 8px;
    box-sizing: border-box;
}

.definition {
    text-align: center;
}

.definition > b {
    text-decoration: underline;
}

.characterDisplay {
    flex-grow: 1;
}

.characterDisplayDiv {
    flex-grow: 1;
}