main {
    height: 100vh;
    margin: -8px;
    padding: 8px;
    box-sizing: border-box;

    flex-wrap: nowrap;
}

.definition {
    text-align: center;
}

.definition > b {
    text-decoration: underline;
}

#characterDisplay {
    display: flex;
    flex-grow: 1;
    
    justify-content: center;
    align-items: center;

    padding: 0px;
}

.characterDisplayDiv {
    height: 100%;
}

.buttonBar {
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5rem;
    min-height: 82px;
}

.strokeButton {
    aspect-ratio: 1;

    background-image: url('grid.svg');
    background-position: center center;
    background-repeat: no-repeat;

    padding: 0px;
}

.strokeButton:hover {
    background-image: url('grid-red.svg');
}